<section class="hero">
  <div class="hero-body">
    <div class="has-text-danger container">
      <h2>Upcoming Shows</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="error column is-full" *ngIf="error">{{ error }}</div>

      <div *ngFor="let show of shows" (click)="onSelect(show)" [class.selected]="show === selectedShow" class="column is-full">
        <div class="card">
          <div class="card-image {{ show.venueImage_class }}">
            <a href="{{ show.venueLink }}" target="_blank">
              <img [src]="show.venueImage" />
            </a>
          </div>
          <div class="card-content">
            <div class="content">
              <div class="content-left">
                <strong><a href="{{ show.venueLink }}" target="_blank">{{ show.venueName }}</a></strong><br />
                <strong>{{ show.date }}</strong><br />
              </div>
              <div class="content-right">
                <strong><a href="https://www.google.com/maps/search/?api=1&query={{ show.venueAddress }}" target="_blank">
                          {{ show.venueAddress }}
                  </a></strong>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
