* {
  box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  outline: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-highlight: none;
}

html {
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .3s 0s ease-out;
  &.dark {
    .site__sidebar-wrapper {
      color: $secondary-color;
      background-color: $base-dark;
    }
  }
  &.light {
    .site__sidebar-wrapper {
      color: $black;
      background-color: $secondary-color;
    }
  }
  &.home,
  &.index {
    .hero {
      &-image__logo {
        position: relative;
        display: block;
        width: 100%;
        height: 280px;
        animation: logo-fall 1s ease;
      }

      .container {
        display: flex;
        width: 100%;
      }
    }
  }
}

a {
  color: $red;
  text-decoration: none;
  cursor: pointer;
  transition: none $speed $easing;

  &:hover {
    color: $link-hover;
  }
}

main {
  margin-top: 3.2em;
}

hr {
  display: block;
  height: 1px;
  margin: 1.5rem 0;
  border: none;
}

img {
  max-width: 100%;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: bold;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

.close {
  font-size: 1.3em;
  color: $white;
  &:hover {
    color: darken($white, 10%);
  }
}

.footer {
  padding: 3rem 1.5rem 6rem;
}
.icon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;

  align-items: center;
  justify-content: center;

  // Sizes
  &.is-small {
    width: 1rem;
    height: 1rem;
  }

  &.is-medium {
    width: 2rem;
    height: 2rem;
  }

  &.is-large {
    width: 3rem;
    height: 3rem;
  }
}
