@mixin arrow($color) {
  position: absolute;
  display: block;
  width: .5em;
  height: .5em;
  pointer-events: none;
  content: " ";
  border: 1px solid $color;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
}

@mixin block {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: " ";
  }
}

@mixin center($width, $height: 0) {
  position: absolute;

  @if $height != 0 {
    top: calc(50% - (#{$height} / 2));
    left: calc(50% - (#{$width} / 2));
  }
  @else {
    top: calc(50% - (#{$width} / 2));
    left: calc(50% - (#{$width} / 2));
  }
}

@mixin delete {
  position: relative;
  display: inline-block;
  flex-grow: 0;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  font-size: $size-normal;
  vertical-align: top;
  cursor: pointer;
  background-color: rgba($black, .2);
  border: none;
  border-radius: 290486px;
  outline: none;

     -moz-appearance: none;
  -webkit-appearance: none;
  flex-shrink: 0;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    content: "";
    background-color: $white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }

  &:before {
    width: 50%;
    height: 2px;
  }

  &:after {
    width: 2px;
    height: 50%;
  }

  &:hover,
  &:focus {
    background-color: rgba($black, .3);
  }

  &:active {
    background-color: rgba($black, .4);
  }

  // Sizes
  &.is-small {
    width: 16px;
    height: 16px;
  }

  &.is-medium {
    width: 24px;
    height: 24px;
  }

  &.is-large {
    width: 32px;
    height: 32px;
  }
}


@mixin loader {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  content: "";
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 290486px;
  animation: spinAround 500ms infinite linear;
}



// Responsiveness

@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}

@mixin widescreen-only {
  @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
    @content;
  }
}

@mixin fullhd {
  @media screen and (min-width: $fullhd) {
    @content;
  }
}
