.is-info {
  background-color: #3273dc;
  color: #fff;
}

.is-success {
  background-color: #23d160;
  color: #fff;
}

.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.is-danger {
  background-color: #ff3860;
  color: #fff;
}
