// Colors

$light-grey: #eee;
$white: #fff;
$black: #2a2b2a;
$base-dark: #2a2b2a;
$secondary-color: #c3cad9;
$base-red: #ff3860;
$accent: #00dffc;

// Font
$font-family__roboto: "Roboto", sans-serif;
