// Colors

$light-grey: #eee;
$white: #fff;
$black: #2a2b2a;
$base-dark: #2a2b2a;
$secondary-color: #c3cad9;

// Accents
// $accent-dark: #005f6b;
// $accent-med: #008c9e;
// $accent-light: #00b4cc;
$accent: #00dffc;

// Font
$font-family__roboto: "Roboto", sans-serif;
