<div class="site__sidebar-wrapper">
  <nav class="site__sidebar-menu">

      <div class="menu--item">
        <a routerLink="/home" routerLinkActive="menu--is-active" data-item="Home" role="menuitem" class="item--link">Home</a>
      </div>
      <div class="menu--item">
        <a routerLink="/about" routerLinkActive="menu--is-active" data-item="About" role="menuitem" class="item--link">About</a>
      </div>
      <div class="menu--item">
        <a routerLink="/upcoming-shows" routerLinkActive="menu--is-active" data-item="Shows" role="menuitem" class="item--link">Shows</a>
      </div>
      <div class="menu--item">
        <a routerLink="/bios" routerLinkActive="menu--is-active" data-item="Bios" role="menuitem" class="item--link">Bios</a>
      </div>
      <div class="menu--item">
        <a routerLink="/media" routerLinkActive="menu--is-active" data-item="Media" role="menuitem" class="item--link">Media</a>
      </div>
      <div class="site__sidebar-footer">
        <div class="fb-like" data-href="https://www.facebook.com/thedogsbollocksnyc/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    </div>
  </nav>
</div>
