.upcoming-dates {
  background-color: #2a2b2a;.container {
    justify-content: center;h5 {
      color: #fff;
    }
  }.box {
    h6 {
      color: #2a2b2a;
    }
  }.is-full {
    .button {
      width: 100%;
    }
  }
}
