.upcoming-dates {
  background-color: #333;
  .container {
    justify-content: center;
    h3 {
      color: #fff;
    }
  }
  h4,p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .is-full {
    .button {
      width: 100%;
    }
  }
  .show-item {
    animation: fadein 1s;
  }
}

svg {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.loading {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
