.upcoming-dates {
  background-color: #2a2b2a;
  .container {
    justify-content: center;
    h5 {
      color: #fff;
    }
  }
  .box {
    h6 {
      color: #2a2b2a;
    }
  }
  .is-full {
    .button {
      width: 100%;
    }
  }
  .show-item {
    animation: fadein 1s;
  }
}

svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
