<section class="section">
  <div class="container">

  <div class="hero is-medium has-text-centered">
  <div class="hero-body">
    <h1 class="title">{{ title }}</h1>
  </div>
  </div>


    <div class="columns">
      <div class="column is-danger">
        First column
      </div>
      <div class="column is-info">
        Second column
      </div>
      <div class="column is-success">
        Third column
      </div>
      <div class="column is-warning">
        Fourth column
      </div>
    </div>

  </div>
</section>
