<section class="hero main-hero is-medium">
  <div class="hero-body">
    <div class="container">
      <img class="hero-image__logo" src="/assets/images/logo.svg" />
    </div>
  </div>
</section>

<section class="hero upcoming-dates">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-multiline">
        <div class="column is-full">
          <h5>some upcoming shows</h5>
        </div>
        <div class="column is-half">
          <div class="box">
            <h6 class="">Sunday Aug 27</h6>
            <a href="http://carraghersnyc.com/" target="_blank">Carragher's</a>
            <p class="subtitle"> 228 W 39th St, New York, NY 10018</p>
          </div>
        </div>
        <div class="column is-half">
          <div class="box">
            <h6 class="">Saturday Sep 16</h6>
            <a class="link" href="http://www.arlenesgrocery.net/" target="_blank">Arlene's Grocery</a>
            <p class="subtitle">95 Stanton St. NYC</p>
          </div>
        </div>
        <div class="column is-full">
          <a routerLink="/upcoming-shows" class="button is-danger is-inverted is-outlined">View More</a>
        </div>
      </div>
    </div>
  </div>
</section>
