<section class="hero">
  <div class="hero-body">
    <div class="has-text-danger container">
      <h2 class="title">Who we are</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
      <p>
      <strong>The Dog's Bollocks came into being as a concept.</strong> Not really a concept; more, a project. Not entirely a project; an idea. Actually, not entirely an idea; a direction. In reality, we met, we wanted to play, nobody could think of a better name, so here we are: The Dog's Bollocks.
      </p>

      <p>
        For the record, it's not "Bullocks." A bullock is a bull with no bollocks. Also for the record, in England if something is the dog's bollocks, that means it's the best. It might also be just "the bollocks" or even "the dog's." For example, "You are the bollocks!" Yes, it's tricky.
      </p>

      <p>If you google The Dog's Bollocks, you'll find all kinds of references. But there's only one Dog's Bollocks in New York City, and that's us, even though not one single member hails from there. (Yes, we're all immigrants, Donald). By name, we are:</p>

      <p><strong class="has-text-danger">Regan Glover - Lead vocals<br /></strong> From somewhere in Utah. She says she's not Mormon.</p>

      <p><strong class="has-text-danger">Andrew Whitney - Bass<br /></strong> From somewhere in Long Island. The introspective one. The Shazam app is constructed from some of Andy's harvested brain cells.</p>

      <p><strong class="has-text-danger">Bart Mol - Guitar, vocals<br /></strong> From Edam in Holland. Yes, also where the cheese comes from. This man blows Golden Earring out of the water.</p>

      <p><strong class="has-text-danger">Tommy Dunn - Drums<br /></strong> From somewhere in Los Angeles. He brings California cool to the Bollocks.</p>

      <p><strong class="has-text-danger">James O'Brien - Guitar, vocals<br /></strong> From London, England. An enigma, a riddle, layered, deep, nuanced, mysterious, irresistible to chicks. Also writes his own bios.</p>

      <p>There have been other members of the Bollocks over the years: Fabio Bethlem, the Brazilian Bollocks, fecked orf to Mexico for work, but now he's back!; Dan Smith, designer of the original Dog's Bollocks logo, so always a Bollocks in spirit; Chris Ferraro, a connoisseur of cheap beer and Long Island wineries and always a Bollocks because he's happy to buy his round; Dave Murphy - aka Liverpool Larry - now domiciled somewhere we’ve never heard of in SE Asia; Ajay ???????, the Bombay Bollocks, a man who never met a drumstick he couldn’t break.</p>

      <p>The line-up has changed, but the music stays the same. We like to ROCK! Our motto is, "We will rock your bollocks off." Gentlemen, beware. The music encompasses classic rock, blues, country, punk, disco - a little of everything. We do the Who, Sheryl Crow, Rush, Elvis, Chuck, Beatles, Don Henley, Joy Division, even Britney Spears, plus many others. If it rocks, we play it!</p>

        <p>Come and see for yourself. Check this site for our <a class="has-text-danger">schedule</a>. You can also follow us on <a class="has-text-danger" href="https://www.facebook.com/thedogsbollocksnyc/" target="_blank">Facebook</a> and <a class="has-text-danger" href="https://twitter.com/dogsbollocksnyc" target="_blank">Twitter</a>. Come to think of it, we must start an e-mail list....</p>

        <p>If you want to book us, e-mail <a href="mailto:regan720@gmail.com?cc=run800@gmail.com&subject=Hey Regan" class="has-text-danger">Regan</a> or <a href="mailto:run800@gmail.com?cc=regan720@gmail.com&subject=Hey James" class="has-text-danger">James</a>. They would love to hear from you.</p>

        <strong>Rock on,</strong><br />
        The Dog's Bollocks
      </div>
    </div>
  </section>
