<section class="section">
  <div class="container">
    <h1 class="title">Who we are</h1>
    <h2 class="subtitle">The Dog's Bollocks came into being as a concept.</h2>
    <div class="content">

<p>
  Well, not really a concept; more accurately, a project. Well, not entirely a project; more, an idea. Actually, not entirely an idea, more a direction. In reality, not even that. We met, we wanted to play, nobody could think of a better name, so here we are: The Dog's Bollocks.
  (The naming of the band came up during a rehearsal that Regan missed due to necessary travel obligations, thus the name came into being as there was no rational mind there to veto. Luckily, Regan thought it was funny and was charmed by how embarrassed the guys were to tell her what they'd decided upon...so, it stuck. Nothing like 4 grown men furiously blushing to make a lady say "oh dear lord, ok I guess we'll go with that then. I supposed it'll look good on a T-shirt.")
</p>

<p>
  Everybody knows what it means, right? (For the record, it's not "Bullocks." A bullock is a bull with no bollocks, poor thing).
  No? OK, in the east end of London - in which area the nicest, best, handsomest, most intelligent, charismatic member of the Bollocks was born (did we mention yet that James was tasked with writing this section?) - if something is <em class="has-text-danger">'the dog's bollocks'</em>, that means it's the best. It might also be just <em class="has-text-danger">"the bollocks"</em> or even <em class="has-text-danger">"the dog's."</em> For example, <em class="has-text-danger">"My new motor is the dog's!"</em> Or, <em class="has-text-danger">"Oi, mate! You are the bollocks!"</em> On the other hand, <em class="has-text-danger">"Oi mate, you are a bollocks,"</em> might earn you a swift kick in said bollocks. Yes, it's tricky. Suffice it to say here, we are <strong>THE Dog's Bollocks</strong>, though some might occasionally also be A bollocks.
  (You all know who I mean)<br />
  <span class="has-small-text has-text-danger">(He means himself - James wrote this, remember? - Regan)</span>
</p>

<p>If you google The Dog's Bollocks, you'll find all kinds of references. But there's only one Dog's Bollocks in New York City, and that's us, even though not one single member hails from there. (Yes, we're all immigrants, Donald). By name, we are:</p>

<p><strong class="has-text-danger">Regan Glover - Lead vocals<br /></strong> From somewhere in Utah. She says she's not Mormon, but she's certainly bossy.  Thank god she's also stunning, incredibly talented, super sweet and always so thoughtful; we are all lucky to have the opportunity to spend so much time with her, what a gift.</p>

<p><strong class="has-text-danger">Andrew Whitney - Bass<br /></strong> From somewhere in Long Island. The introspective one. The Shazam app is constructed from some of Andy's harvested brain cells. That's true.</p>

<p><strong class="has-text-danger">Bart Mol - Guitar, vocals<br /></strong> From Edam in Holland. Yes, also where the cheese comes from. This man blows Golden Earring out of the water.</p>

<p><strong class="has-text-danger">Tommy Dunn - Drums<br /></strong> From somewhere in Los Angeles. I think he said Santa Monica. He brings LA chic to the Bollocks, thank goodness!  We needed some LA chic.</p>

<p><strong class="has-text-danger">James O'Brien - Guitar, vocals<br /></strong> From Seven Kings, Ilford, Essex, England, an area these days subsumed within the sprawl of London's east end. An enigma, a riddle, layered, deep, nuanced, mysterious, irresistible to chicks (he means baby chickens, they just love him). Also writes band bios for web sites, well...this website.  Chances are this will be the only one based on the fact that he had to do it because Regan bossed him into it.</p>

<p>There have been other members of the Bollocks over the years: Fabio Bethlem, the Brazilian Bollock, fecked orf to Mexico for work, but now he's back!; Dan Smith, designer of the original Dog's Bollocks logo, so always a Bollock in spirit; Chris Ferraro, a connoisseur of cheap beer and Long Island wineries and always a Bollock because he's happy to buy his round.</p>

<p>The line-up has changed, but the music stays the same. We like to ROCK! If we had a catch-phrase it would be, <em><strong class="has-text-danger">"We will rock your bollocks off."</strong></em> Though we realized that might dissuade male attendance at our gigs, they preferring to keep their bollocks. So, the catch-phrase is a work in progress. The music, though, encompasses classic rock, blues, country, punk, disco - a little of everything. We do the <em>Who</em>, <em>Sheryl Crow</em>, <em>Rush</em>, <em>Elvis</em>, <em>Chuck</em>, <em>Beatles</em>, <em>Don Henley</em>, <em>Joy Division</em>,
  even <em>Brittney Spears</em>, plus many others. If it rocks, we play it!</p>

<p>Come and see for yourself. Check this site for our <a class="has-text-danger">schedule</a>. You can also follow us on <a class="has-text-danger">Facebook</a> and <a class="has-text-danger">Twitter</a> (TheDogsBollocksNYC). Come to think of it, we must start an e-mail list....</p>

<p>If you want to book us, e-mail <a href="mailto:regan720@gmail.com?cc=run800@gmail.com&subject=Hey Regan" class="has-text-danger">Regan</a> or <a href="mailto:run800@gmail.com?cc=regan720@gmail.com&subject=Hey James" class="has-text-danger">James</a>. James is much nicer, Regan is much prettier and also in charge....but they would both love to hear from you.</p>

<strong>Rock on,</strong><br />
The Dog's Bollocks
</div>
  </div>
</section>
