<div class="video-hero">
  <video id="mp4" src="" autoplay loop muted playsinline></video>
  <header class="video-hero__overlay">
    <h2 class="hero-title title">The Bollocks In Action</h2>
  </header>
</div>

<section class="section section--media">
  <div class="container is-fluid">
    <div class="columns is-desktop is-multiline" *ngFor="let p of pictures">
      <div class="column is-full">
        <h3>{{ p.venue }}</h3>
      </div>
      <div class="column is-one-third-desktop" *ngFor="let i of p['images']">
        <img class="image" [src]="i.url" alt="{{ i.url }}" />
      </div>
    </div>
  </div>
</section>
