<section class="hero is-large">
  <div class="hero-body">
    <div class="container">
      <h2 class="has-text-danger">The Bollocks In Action</h2>
    </div>
  </div>
</section>
<section class="section--media">
  <div class="container is-fluid">
      <div class="columns is-multiline is-desktop">
        <div class="column is-half-desktop">
          <img src="assets/images/db-1.jpg" />
        </div>
        <div class="column is-half-desktop">
          <img src="assets/images/db-2.jpg" />
        </div>
        <div class="column is-half-desktop">
          <img src="assets/images/db-3.jpg" />
        </div>
        <div class="column is-half-desktop">
          <img src="assets/images/db-5.jpg" />
        </div>
        <div class="column is-half-desktop">
          <img src="assets/images/db-6.jpg" />
        </div>
        <div class="column is-half-desktop">
          <img src="assets/images/db-7.jpg" />
        </div>
        <div class="column is-half-desktop">
          <img src="assets/images/db-8.jpg" />
        </div>

        <div class="column is-half-desktop">
          <img src="assets/images/andy-show.jpg" />
        </div>
      </div>
  </div>
</section>
