<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <h2>The Bollocks</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      <div class="column is-half" *ngFor="let m of members">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ m.image }}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-3">{{ m.name }}</p>
              </div>
            </div>
            <div class="content">
              {{ m.bio }}<br />
              <a class="icon is-small" *ngIf="m.link" href="{{ m.link }}" target="_blank"><img src="/assets/images/facebook.svg" /></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
